html, body, root {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #FC9DA0;
  background-color: #6937a5;
}

/* Class for the div containers on each page */
.Page {
  width: 70%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 15px;
  background-color: #32185280;
  padding-top: 65px; /* space for nav bar */
}

h1 {
  margin-top: 0;
}

.login>label,
.login>input {
  display: flex;
  flex-direction: column;
}

.login>input {
  margin-bottom: 10px;
}

.login-button {
  width: 110px;
  margin-bottom: 10px;
}

button {
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #FC9DA0;
  padding: 5px 7px;
  background-color: #38185e;
}

/* Style for input boxes */
input {
  background-color: #38185e; 
  border: 1px solid #38185e; 
  border-radius: 5px; 
  color: #FC9DA0; 
  font-size: 16px; 
  margin: 3px;
}

/* Style for input boxes on focus */
input:focus {
  background-color: #38185e; 
  border-color: #FC9DA0;
  outline: none; 
}

/* Prevent background and text color changes on auto-fill */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #38185e !important; /* Match your input background color */
  color: #FC9DA0 !important; /* Match your input text color */
  border: 1px solid #38185e !important; /* Match your input border color */
  -webkit-box-shadow: 0 0 0px 1000px #8884d8 inset !important; /* Prevent browser's default background */
  transition: background-color 5000s ease-in-out 0s; /* Prevent flashing */
}

